
.container {
    max-width: 140rem;
    padding: 4.2rem 4.2rem;
    display: flex;
    justify-content: space-between;
    color: blue;
}
.logo-brand a {
    font-size: 5vh;
}
.heading {
    color: blueviolet;
}
ul {
    display: flex;
    gap: 3.1rem;
}
li {
    color: blue;
    font-size: 3vh;
}
